.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-portrait) {
        padding: 8rem;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
        @include respond(tab-portrait) {
          margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-portrait) {
           width: 100%;
           text-align: center;
        }
    
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;
        @include respond(tab-portrait) {
            width: 100%;
            float: none;
         }
    }

    &__info-block {
        padding-right: 2rem;
        @include respond(tab-portrait) {
            margin-bottom: 4rem;
            padding-right: 0;
        }
    }

    &__info-heading {
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-primary-light;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-grey-dark;
    }

    &__info-text {
        font-size: 1.3rem;
        line-height: 1.8;
        color: $color-grey-dark-2;
        margin-bottom: 0.5rem;
    }

    &__contact-list {
        list-style: none;
        font-size: 1.3rem;
        line-height: 1.8;
        color: $color-grey-dark-2;

        li {
            margin-bottom: 0.8rem;
        }
    }

    &__careers-list {
        list-style: none;
        font-size: 1.3rem;
        line-height: 1.8;
        color: $color-grey-dark-2;

        li {
            margin-bottom: 0.6rem;
        }
    }
}