.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    
    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

            &-4 {
                background-image: linear-gradient(to right bottom, $color-quaternary-light, $color-quaternary-dark);
            }

            &-5 {
                background-image: linear-gradient(to right bottom, $color-quinary-light, $color-quinary-dark);
            }

            &-6 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-7 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-8 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
            url(../img/hp-shimla.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
            url(../img/hp-manali.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), 
            url(../img/hp-dharamshala.jpg);
        }

        &--4 {
            background-image: linear-gradient(to right bottom, $color-quaternary-light, $color-quaternary-dark), 
            url(../img/hp-spiti.jpg);
        }

        &--5 {
            background-image: linear-gradient(to right bottom, $color-quinary-light, $color-quinary-dark), 
            url(../img/hp-kasol.jpg);
        }

        &--6 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
            url(../img/hp-dalhousie.jpg);
        }

        &--7 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
            url(../img/hp-khajjiar.jpg);
        }

        &--8 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), 
            url(../img/hp-kullu.jpg);
        }

        // Karnataka
        &--ka-1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/ka-coorg.jpg);
        }
        &--ka-2 {
            background-image: linear-gradient(to right bottom, $color-quaternary-light, $color-quaternary-dark), url(../img/ka-hampi.jpg);
        }
        &--ka-3 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/ka-mysore.jpg);
        }
        &--ka-4 {
            background-image: linear-gradient(to right bottom, $color-quinary-light, $color-quinary-dark), url(../img/ka-gokarna.jpg);
        }
        &--ka-5 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/ka-chikmagalur.jpg);
        }

        // Kerala
        &--kl-1 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/kl-munnar.jpg);
        }
        &--kl-2 {
            background-image: linear-gradient(to right bottom, $color-quinary-light, $color-quinary-dark), url(../img/kl-alleppey.jpg);
        }
        &--kl-3 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/kl-wayanad.jpg);
        }
        &--kl-4 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/kl-kovalam.jpg);
        }
        &--kl-5 {
            background-image: linear-gradient(to right bottom, $color-quaternary-light, $color-quaternary-dark), url(../img/kl-thekkady.jpg);
        }

        // West Bengal / Darjeeling
        &--wb-1 {
            background-image: linear-gradient(to right bottom, $color-quinary-light, $color-quinary-dark), url(../img/wb-darjeeling.jpg);
        }
        &--wb-2 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/wb-kalimpong.jpg);
        }
        &--wb-3 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/wb-sundarbans.jpg);
        }

        // Tamil Nadu
        &--tn-1 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/tn-ooty.jpg);
        }
        &--tn-2 {
            background-image: linear-gradient(to right bottom, $color-quaternary-light, $color-quaternary-dark), url(../img/tn-madurai.jpg);
        }
        &--tn-3 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/tn-rameswaram.jpg);
        }
        &--tn-4 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/tn-kodaikanal.jpg);
        }

        // Maharashtra / Pune
        &--mh-1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/mh-lonavala.jpg);
        }
        &--mh-2 {
            background-image: linear-gradient(to right bottom, $color-quinary-light, $color-quinary-dark), url(../img/mh-mahabaleshwar.jpg);
        }
        &--mh-3 {
            background-image: linear-gradient(to right bottom, $color-quaternary-light, $color-quaternary-dark), url(../img/mh-aurangabad.jpg);
        }
        &--mh-4 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/mh-pune.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }

        &--4 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-quaternary-light, .85), 
            rgba($color-quaternary-dark, .85));
        }

        &--5 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-quinary-light, .85), 
            rgba($color-quinary-dark, .85));
        }

        &--6 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }

        &--7 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--8 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    @include respond(tab-portrait) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    &__side {
        height: auto;
        position: relative;
        box-shadow: none;
        &--back {
            transform: rotateY(0);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%) ;
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(0);
    }

    &__details {
        padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
        margin-bottom: 3rem;
    }

    &__price-value {
        font-size: 4rem;
    }

    }
}